<mat-tab-group>


  <mat-tab label="Add burger"> <br>
    <form [formGroup]="burgerForm" #formDirective="ngForm" >
      <mat-form-field appearance="fill">
        <mat-label>nom du Burger</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field><br>
      <mat-form-field appearance="fill">

        <mat-label>prix</mat-label>
        <input matInput formControlName="prixPrincipale">
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>compositions</mat-label>
        <textarea matInput formControlName="compositions"></textarea> 
      </mat-form-field><br>

      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop an image here</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone> <br>

      <button mat-raised-button color="primary" (click)="addBurger()">add burger</button>

    </form>
  </mat-tab>


<!------------------------------------------------------------------------------------------>


  <mat-tab label="Add sandwich"> <br>
    <form [formGroup]="sandwichForm">
      <mat-form-field appearance="fill">
        <mat-label>nom du sandwich</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>prix</mat-label>
        <input matInput formControlName="prixPrincipale">
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>compositions</mat-label>
        <textarea matInput formControlName="compositions"></textarea> 
      </mat-form-field><br>

      <ngx-dropzone  (change)="onSelect($event)">
        <ngx-dropzone-label>Drop an image here</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label></ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone> <br>

      <button mat-raised-button color="primary" (click)="addSandwich()">add sandwich</button>

    </form>
  </mat-tab>

  <!------------------------------------------------------------------------------------------>

  <mat-tab label="Add tacos"> <br>

    <form [formGroup]="tacosForm">
      <mat-form-field appearance="fill">
        <mat-label>nom du tacos</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>prix</mat-label>
        <input matInput formControlName="prixPrincipale">
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>compositions</mat-label>
        <textarea matInput formControlName="compositions"></textarea> 
      </mat-form-field><br>


      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop an image here</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label></ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone> <br>

      <button mat-raised-button color="primary" (click)="addTacos()" >add tacos</button>

    </form>
  </mat-tab>

<!------------------------------------------------------------------------------------------>

  <mat-tab label="Add ingrediants"> <br>
    <form [formGroup]="ingrediantsForm">
      <mat-form-field appearance="fill">
        <mat-label>nom d'ingrediant</mat-label>
        <input matInput formControlName="nomIngrediant">
      </mat-form-field><br>
      <mat-form-field appearance="fill">

      <mat-label>prix</mat-label>
        <input matInput formControlName="prixIngrediant">
      </mat-form-field><br>


      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop an image here</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label></ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone> <br>

      <button mat-raised-button color="primary" (click)="addIngrediant()"  >add ingrediant</button>

    </form>
   
  </mat-tab>

 

</mat-tab-group>