<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
   
    
    <a mat-button [routerLink]="['/products', 'Sandwiches']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Sandwiches</a>
    <a mat-button [routerLink]="['/products', 'Burgers']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Burgers</a>
    <a mat-button [routerLink]="['/products', 'sports']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Tacos</a>
    

    <mat-menu #others="matMenu" class="app-dropdown">
        <a mat-menu-item href="http://themeseason.com" target="_blank">External Link</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
    </mat-menu>
    
    <a mat-button routerLink="/contact" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Contact</a>

</mat-toolbar>

